// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.b1{
    padding: 16 px;
    margin-bottom: 2em;
    line-height: 1.45;
    border-radius: 6px;
    hyphens: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-break: strict;
    color: #292b2c;
    border:1px solid #ccc;
    background: #f4f4f4;
    h1{
     font-size: 25px;
     width: auto;
     color: brown;
    }
}